html,
body,
* {
	padding: 0;
	margin: 0;
	font-family: "Monserat", sans-serif;

	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0px;
}

.wrapper {
	overflow: hidden;
}

.truck {
	position: inherit;

	animation: truck-move 5s linear infinite;
}

.truck-road {
	border-bottom: 5px dotted rgba(40, 167, 69, 1);
}

@keyframes truck-move {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

.text-green {
	color: #34c00f;
}

.typewriter p {
	font-size: 5rem;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 0;
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px #2bff0011;
}

#basic-nav-dropdown {
	font-size: 1.2rem;
	color: black !important;
}

.nav {
	overflow: visible !important;
}

.vh-full {
	min-height: 100vh;
}

.bg-am-green {
	background-color: #28a745;
}

.bg-am-blue {
	background-color: rgb(17, 147, 246);
}

@media (max-width: 368px) {
	.typewriter p {
		font-size: 2rem;
	}
}

@media (max-width: 992px) {
	.typewriter p {
		font-size: 3rem;
	}
}

.typewriter p:nth-of-type(5) {
	color: rgba(40, 167, 69, 1);
}

.btn-green {
	background-color: #28a745 !important;
	color: black !important;
	border: none !important;
}

.btn-green:hover {
	background-color: rgb(17, 147, 246) !important;
}

.second-bg {
	background-color: #174873 !important;
}
.bg-amg {
	background-color: #28a745 !important;
}

.star {
	color: gold !important;
}

.offer-bg {
	background-color: #174873;
}

.icons {
	font-size: 5rem;
	color: white;
}

.header-card {
	position: absolute !important;
	top: 50%;
	left: 10%;
}

@media (max-width: 768px) {
	.header-card {
		max-width: 35rem !important;
		display: flex;
	}
}

.carousel-imgs {
	height: 100%; /* make the image fill the container height */
	object-fit: cover; /* make the image cover the container without distorting aspect ratio */
}

@media (max-width: 368px) {
	.header-card {
		max-width: 15rem !important;
		display: flex;
	}
}

.header-card-bg {
	background-color: #174873e5 !important;
}

.counted-bg {
	background-image: url("../public/assets/header-bg.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.nav-blue-bg {
	background-color: #28a745 !important;
}

.nav-blue-bg:hover {
	background-color: #174873 !important;
}
.nav-blue-btn {
	background-color: white !important;
	color: black !important;
}

.nav-blue-btn:hover {
	background-color: #174873 !important;
	color: rgb(255, 255, 255) !important;
}

.logo {
	background-image: url("../public/assets/Logo.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.windmil {
	background-image: url("../public/assets/Projekt\ bez\ tytułu\ \(2\).png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.sanity-work {
	background-image: url("../public/assets/sanity-work.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.header-bg {
	background-image: url("../public/assets/header-bg.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.testimonial-bg {
	background-image: url("../public/assets/side-wave_background (1).png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.about-bg {
	background-image: url("../public/assets/bateria2.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.footer-bg {
	background-color: rgb(23, 72, 115);
}

.typewriter-bg {
	background-image: url("../public/assets/typewriter-bg.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.products-bg {
	background-image: url("../public/assets/Curve\ Line.svg");
	background-repeat: no-repeat, repeat;
}

.secondary-bg {
	background-image: url("../public/assets/side-wave_background.png");
	background-repeat: no-repeat, repeat;
	background-size: cover;
}

.secondary-bg2 {
	background-image: url("../public/assets/secondary.svg");
}

.footer-card {
	background-color: #16830079 !important;
	font-weight: bold;
}

.hover:hover {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
	z-index: 1 !important;
}

.hover2:hover {
	transform: scale(1.1);
	transition: 1s ease-in-out;
}

.page-transition-enter {
	opacity: 0;
}
.page-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.page-transition-exit {
	opacity: 1;
}
.page-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
.text-slide {
	animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	display: none;
}

.product-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 3rem;
	border-radius: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #2bff00;
	color: #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease-in-out;
}
.blur {
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.product-button:hover {
	transform: translateY(-0.25rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.slider-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card-glass {
	background-color: rgba(255, 255, 255, 0.5); /* white color overlay */
	background-image: linear-gradient(
			rgba(134, 134, 134, 0.5),
			rgba(1, 8, 1, 0.5)
		),
		url("/path/to/image.jpg"); /* blue background */
}

.card-container {
	width: 100%;
	height: 100%;
	transition: 0.9s ease-in-out;
	transform-style: preserve-3d;
}

.card-front {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card-back span {
	text-align: center;
	font-size: 1.2rem;
}

.card-back {
	position: relative;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
}

.card-container:hover {
	transform: rotateY(180deg);
}

.custom-dropdown {
	background-color: #ffffff52;
	color: #fff !important	;
	border: none;
	border-radius: 0;
	font-size: 1rem;
	text-transform: uppercase !important;
	font-weight: bold;
	padding: 0.5rem 1rem;
}

.custom-dropdown:hover {
	background-color: #218838;
	color: white !important;
}

.my-card {
	position: relative;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: 1s ease-in-out;
}

.my-card.front {
	z-index: 2;
	border: 1px solid green !important;
}

.my-card.back {
	transform: rotateY(180deg);
	z-index: 1;
}

.my-card:hover {
	transform: rotateY(180deg);
}

@media (max-width: 991.98px) {
	.navbar-collapse {
		background-color: #ffffff !important; /* set the new background color */
	}
}

.carousel-image {
	height: 100vh !important;
	width: 100vw !important;
}

@media (max-width: 968px) {
	.carousel-image {
		height: 50vh !important;
		width: 100vw !important;
	}
}

@media (max-width: 768px) {
	.carousel-image {
		height: 100vh !important;
		width: 100vw !important;
	}
}

@media (max-width: 768px) {
	.carousel-image {
		height: 100vh !important;
		width: 100% !important;
	}
}

@media (max-width: 368px) {
	.carousel-image {
		height: 60vh !important;
		width: 100vw !important;
	}
}
